*.binpb
*.reapeaks
*.rpp-PROX
*.rpp-bak
*.tmp
*_pb2.py
.godot/
/.export/
/.mypy_cache/
/.ruff_cache/
/.temp/
/__MACOSX
/android/
/assets/art/src/main*.png
/assets/art/src/screenshots_processed/
/assets/level*/backups/
/imgui.ini
/src/codegen/nolint/glib.gd
__pycache__/
node_modules/
