*.binpb
*.reapeaks
*.rpp-PROX
*.rpp-bak
*.tmp
.godot/
/.export/
/.mypy_cache/
/.ruff_cache/
/.temp/
/__MACOSX
/android/
/assets/art/src/main*.png
/assets/art/src/screenshots_processed/
/assets/level*/backups/
__pycache__/
node_modules/
